html {
    /* height: 100%; */
    /*this fills the viewport with the gradient*/
    background: rgb(0, 0, 0);
}

body {
    /* background-color: black; */
    color: white;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(11, 46, 77) 100%);
    background-repeat: no-repeat;
    /* font-family: Helvetica; */
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.navbar {
    background-color: transparent !important;
}

.navbar-brand {
    color: black;
    text-decoration: none;
    /*margin-left: 50px;*/
}

.nav-item {
    text-align: end;
    font-size: 3vw;
    /*margin-right: 50px;*/
}

a.nav-link {
    color: rgb(255, 255, 255) !important;
}

a.nav-link:hover {
    color: #eb4034 !important;
}

a:hover {
    color: #eb4034 !important;
}

.navbar-toggler {
    /*margin-right: 50px;*/
    /* border: none; */
    color: white !important;

}

.backgroundImage {
    /* placeholder image */
    /* background: url(https://images.unsplash.com/photo-1498736297812-3a08021f206f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1957&q=80);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat; */
    background: url("../img/stars.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.firstName, .lastName {
    font-size: 8vw;
    margin-left: 5%;
}

.firstName {
    margin-top: 12vh;
}

hr {
    margin-left: 5%;
    height: 5px !important;
    color: #eb4034;
    width: 15vw;
    opacity: 1;
    border-radius: 2em;
    margin-top: 5vh;
}

.role {
    margin-top: 7vw;
    margin-left: 6%;
    font-size: 4vw;
}

/*------------------------*/

/* code to make the menu items not push down the rest of the page*/
nav ul li {
    position: relative;
}

.navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    margin-right: 10px;
}

/*------------------------*/