body {
    font-family: "Montserrat", "Open Sans", Helvetica, Arial, sans-serif;
    background: #fff;
}

/* colors #1b171e #f2005b */

.navbar {
    /* background-color: transparent !important; */
    background-color: #fff !important;
    margin-top: 30px;
}

.navbar-brand {
    letter-spacing: .1rem;
    display: flex;
}

.nav-item {
    margin-left: 1rem;
}

.logoDL {
    margin-right: 20px;
}

a {
    /* color: rgb(255, 0, 99); */
    color: #AD0042;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: #EB0000;
    font-weight: bold;
    text-decoration: underline;
    font-weight: 700;
}

a.nav-link:hover {
    color: #ff0063;
    font-weight: bold;
    text-decoration: none;
}

/* menu hover underline animation -------------- */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /* color: rgb(255, 0, 99); */
    color: black;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(255, 0, 99, 1) 0%, rgba(255, 213, 49, 1) 100%);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* end menu hover underline animation -------------- */

.base-button {
    background: #ff0063;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 25px;
    transition: 0.4s;
}

.base-button:hover {
    background: #AD0042;
}

.filter-button {
    background: #ffffff;
    color: #ff0063;
    text-align: center;
    padding: 10px 20px;
    font-weight: 900;
    letter-spacing: 0.1rem;
    border-color: #ff0063;
    border-width: 5px;
    border-radius: 25px;
    transition: 0.4s;
}

.filter-button:hover {
    background: #ff0063;
    color: white;
}

.highlight-color {
    color: rgb(255, 0, 99) !important;
}

.intro-font-size {
    font-size: 4rem;
}

.hero {
    /* background: url("../img/lorenzo-herrera-p0j-mE6mGo4-unsplash.jpg"); */
    background: url("../img/lorenzo-herrera-p0j-mE6mGo4-unsplash-dark-70.jpg");
    background-position: center;
    background-size: cover;
    /* background: rgb(255, 0, 99);
    background: linear-gradient(90deg, rgba(255, 0, 99, 1) 0%, rgba(255, 213, 49, 1) 100%); */
    /* background: #1b171e; */
    height: 83vh;
    /* height: 76vh; */
    color: rgb(255, 255, 255);
    min-height: 880px;
}

.hero-buffer-top {
    /* height: 15vh; */
    height: 20vh;
}

.hero-buffer-bottom {
    /* height: 15vh; */
    height: 20vh;
}

.hero-line-height {
    line-height: 1.6;
}

.container-margin-add {
    /* margin-top: 4em; */
    margin-bottom: 4em;
}

#portfolio {
    height: 80px;
}

#skills {
    height: 80px;
}

#certificates {
    height: 80px;
}

#about {
    height: 80px;
}

#contact {
    height: 80px;
}

h1 {
    margin: 0;
    align-self: center;
}

hr {
    margin: 24px 0 10px 60px;
    height: 5px !important;
    background: linear-gradient(90deg, rgba(255, 0, 99, 1) 0%, rgba(255, 213, 49, 1) 100%);
    width: 20vw;
    opacity: 1;
    border-radius: 2em;
}

.section-title {
    font-size: 2.8rem;
    color: rgb(0, 0, 0);
    /* transition: color 0.4s; */
    /* font-variant: small-caps; */
}

/* .section-title:hover {
    color: rgb(255, 0, 99);
} */

.card {
    border: none;
    margin: 5% 0 0 0;
    border-radius: 0px;
    transition: 0.4s;
}

.card:hover {
    /* border: none; */
    /* margin: 5% 0 0 0; */
    /* background: #1b171e; */
    /* color: white; */
    box-shadow: 0px 0px 8px 3px #8e7a9e;
}

/* remove the rounded top left and right corners of the card */
.card-img-top {
    border-radius: 0px;
    /* overflow: hidden; */
    object-fit: cover;
    height: 32vh;
    min-width: 300px;
    min-height: 300px;
}

.card-title {
    font-size: 1.5rem;
}

.title-explanation {
    font-weight: normal;
    font-size: 1rem;
}

.accent-border {
    /* margin-left: 10px; */
    padding-left: 30px;
    border-left-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 99);
    /* border-color: linear-gradient(180deg, rgba(255, 0, 99, 1) 0%, rgba(255, 213, 49, 1) 100%); */
}

.accent-border-2 {
    /* margin-left: 10px; */
    padding-left: 30px;
    border-left-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 99);
    /* border-color: linear-gradient(180deg, rgba(255, 0, 99, 1) 0%, rgba(255, 213, 49, 1) 100%); */
    /* background: #1b171e;
    opacity: 90%; */
}

.dark-container {
    background: #1b171e;
    color: rgb(255, 255, 255);
}

.certifications-padding-add {
    padding-bottom: 8rem;
}

.section-title-skills {
    font-size: 2.8rem;
    color: rgb(255, 255, 255);
    /* font-variant: small-caps; */
}

.certificate-item>ul>li {
    padding: 1rem 0 0 0.5rem;
}

.portrait {
    border-radius: 50%;
    width: 100%;
    height: auto;
    /* padding: 5px; */
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 99);
    background-color: rgb(255, 0, 99);
}

.footer-content {
    color: white;
    background: linear-gradient(90deg, rgba(255, 0, 99, 1) 0%, rgba(255, 213, 49, 1) 100%);
}

.footer-text {
    letter-spacing: 0.08rem;
    font-weight: 800;
}

.footer-icons {
    height: 40px;
    width: 40px;
    /* margin-bottom: 10px; */
    margin: 10px 7px 15px 7px;
}

/* code to make the menu items not push down the rest of the page -----------*/
/* this currently needs work, looks good without it */
/* nav ul li {
    position: relative;

}

.navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    margin-right: 10px;
} */

/*end non-push down code ---------------------------------------*/

/* start of the scroll bar code-------------------------------- */
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);
    box-shadow: inset 0 0 4px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: rgb(255, 213, 49); */
    background: rgb(43, 43, 43);
    border-radius: 10px;
    box-shadow: inset 0 0 5px grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 0, 99);
    box-shadow: none;
}

/* end of the scroll bar code---------------------------------- */

/* hides mobile name on 671px and up page sizes */
.mobile-name {
    display: none;
    letter-spacing: 0.1rem;
}

@media only screen and (max-width: 768px) {
    .portrait {
        width: 60%;
        height: auto;
    }

    .hero-buffer-top {
        height: 13vh;
    }

    .skills-sm-margin {
        margin-bottom: 4rem;
    }
}

@media only screen and (max-width: 670px) {
    h1 {
        font-size: 6vw;
    }

    .navbar-brand {
        /* letter-spacing: normal; */
        display: block;
    }

    a>h1 {
        display: none;
    }

    .mobile-name {
        margin-left: 60px;
        display: block;
    }

    .role {
        font-size: 5vw !important;
    }

    hr {
        margin: 15px 0 10px 60px;
    }

    /* .hero-buffer {
        height: 10vh;
    } */
}